body {
	margin: 0;
	padding: 0;
	max-width: inherit;
	background: #fff;
	color: #4a4a4a;
}

header, footer {
	text-align: center;
	padding: 0.3em 0;
	background-color: #ffffcc;
	color: orange;
	font-style: bold;
	font-size: 3em;
}

body {
	display: grid;
	min-height: 100vh;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: min-content 1fr min-content;
}

header {
	grid-row: 1;
	grid-column: 1 / 4;
}

nav {
	grid-row: 2;
	grid-column: 1 / 2;
	padding: 0 10px;
	background: orange;
}

main {
	grid-row: 2;
	grid-column: 2 / 3;
	padding: 0 20px;
	background: #ccffcc;
}

aside {
	grid-row: 2;
	grid-column: 3 / 4;
	padding: 0 10px;
	background: orange;
}

footer {
	grid-row: 3;
	grid-column: 1 / 4;
}

/*flexbox*/
.flex-container {
	width: 90%;
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	background-color: #ffffcc;
 }